meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Estrategias de prevención y mitigación del riesgo
meta(meta name="description" content=" En este tema se abordará el conocimiento sobre las medidas de seguridad y prevención en motores de imanes permanentes, dando a conocer las actividades de alto riesgo y los controles operacionales necesarios para trabajar en un ambiente seguro. Adicionalmente se pretende dar claridad sobre los criterios de selección de barreras mecánicas en fondo y superficie en sistemas de motores de imanes permanentes.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")