h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220601049-3. Evaluar medidas de seguridad de acuerdo con las estrategias de prevención y reducción de los factores de riesgo eléctrico en el área de trabajo.