.container#actividades

    .header-ecored
        h1 1. Actividades de alto riesgo en sistemas PMM

    .card
        img.card-img-top(src="assets/images/pages/img11.png")
        .card-body
            p Los sistemas PMM incluyen una serie de actividades que son consideradas de alto riesgo debido a su comportamiento de generar electricidad cuando el motor es sometido a fuerzas externas, con este tipo de sistemas se deben considerar precauciones adicionales al momento de realizar cada una de las actividades relacionadas con instalación, mantenimiento y desinstalación, por ello, es importante conocerlas y clasificarlas.
    
    #clasificacion
    .header-ecored
        h2 1.1 Clasificación de las actividades

    .jumbotron.bg-white
        p Actualmente las diferentes industrias están desarrollando tecnologías que permitan obtener fuentes de energía sustentables, con las cuales se puedan obtener mayores producciones con el mínimo consumo de energía.
        p.mt-4 Por tal motivo se han desarrollado tecnologías con una mayor eficiencia de energía como es el caso de los motores de imanes permanentes, en el cual el campo magnético permanente del estator es creado por imanes, esta configuración hace que el sistema sea más eficiente y se tengan menos pérdidas por calor o deslizamiento. Sin embargo, con este tipo de tecnología aparecen algunos riesgos eléctricos que no estaban presentes en los motores eléctricos convencionales, por tal motivo es indispensable una correcta clasificación de las actividades de alto riesgo en la operación con sistemas PMM:

        .row.justify-content-center.align-items-center.mt-4
            .col-10
                .list
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt    
                        p.m-top Prueba de giro del motor.
                        img.img-a.mt-5(src="assets/images/pages/img03.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt    
                        p.m-top Conexión del cable al motor.
                        img.img-a.mt-5(src="assets/images/pages/img04.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt    
                        p.m-top Prueba de giro de todo el sistema acoplado al motor.
                        img.img-a.mt-5(src="assets/images/pages/img05.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt    
                        p.m-top Verificación de la integridad eléctrica del motor y sensor.
                        img.img-a.mt-5(src="assets/images/pages/img06.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt    
                        p.m-top Empalme de cable asociado a instalación de motor con tecnología de imán permanente PMM.
                        img.img-a.mt-5(src="assets/images/pages/img07.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt    
                        p.m-top Prueba de integridad eléctrica durante la bajada de equipo PMM.
                        img.img-a.mt-5(src="assets/images/pages/img08.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 7
                    .list__txt    
                        p.m-top Prueba hidrostática a la tubería de producción durante la bajada de equipo PMM.
                        img.img-a.mt-5(src="assets/images/pages/img09.png").img-fluid
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 8
                    .list__txt    
                        p.m-top Cierre y apertura de válvulas o camisas.
                        img.img-a.mt-5(src="assets/images/pages/img10.png").img-fluid
    
    #identificacion
    .header-ecored
        h2 1.2 Identificación de peligros, evaluación y valoración de riesgos. 

    .jumbotron.bg-white
        .text-center.mb-4
            .bg-t2
                p #[b Peligro: objetos, efecto o condición.]
                h1.text-c1 #[b +]
                p #[b Actividad o Interacción:] relacionarse con el peligro de alguna manera.
                h1.text-c1 #[b =]
                p #[b Riesgo:] probabilidad y severidad de lesión.

        p.mb-4 Recordemos un poco los conceptos.
        img.img-a(src="assets/images/pages/img12.png").img-fluid
        
        .sub-ecored.mt-4
            h2 Los cinco principales riesgos eléctricos
        
        table.mb-4
            thead
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img01.svg")
                    td
                        p.bg-t1 #[b Choque:] el cuerpo se convierte en parte del circuito eléctrico.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img02.svg")
                    td
                        p.bg-t1 #[b Quemadura:] con el contacto directo con el cableado vivo o el equipo.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img03.svg")
                    td
                        p.bg-t1 #[b Fuego:] la electricidad es una causa común de incendio.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img04.svg")
                    td
                        p.bg-t1 #[b Explosión:] las chispas eléctricas encienden la atmósfera o el líquido inflamable.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img05.svg")
                    td
                        p.bg-t1 #[b Arco:] falla eléctrica en el aire causando descarga de plasma.
        
        .sub-ecored.mt-4
            h2 ¿De qué dependen los efectos de las descargas eléctricas en el cuerpo humano?
        
        .text-center
            h2.text-c1 Corriente y Voltaje
            p #[b Corriente menor a:] AC 0.03 Amp y DC 0.3-0.5.
            p #[b Voltaje mayor a:] AC 50 V y DC 120 V.            
            .bg-t2
                h1.text-c1 #[b ¡Puede ser mortal!]
                img.img-fluid.img-a(src="assets/images/pages/img06.svg", style="max-width: 70%")
                ul.list-p1
                    li #[b Condiciones de trabajo.]
                    li #[b Paso a través del cuerpo.]
                    li #[b Duración del choque.]

        .sub-ecored.mt-4
            h2 ¿Qué puede hacer para mantenerse a salvo?
        
        table.mb-4
            thead
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img07.svg")
                    td
                        p.bg-t1 #[b Prácticas seguras en el trabajo:] su mejor línea de defensa.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img08.svg")
                    td
                        p.bg-t1 #[b Artículos de protección:] corte la electricidad, si existe una falla, sobrecarga o cortocircuito.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img09.svg")
                    td
                        p.bg-t1 #[b Bloquee y etiquete:] aísle el equipo antes de la reparación o el mantenimiento.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img10.svg")
                    td
                        p.bg-t1 #[b Vigile:] las partes activas de los equipos eléctricos que funcionan > 30 Voltios deben protegerse contra el contacto accidental.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img11.svg")
                    td
                        p.bg-t1 #[b Equipo de Protección Personal (EPP):] siempre use los elementos de protección adecuados para trabajos eléctricos.
        p De acuerdo con lo descrito anteriormente los motores PMM se comportan como generadores de energía si estos son rotados por fuerzas externas, representando un riesgo eléctrico durante la intervención del sistema, por lo cual es necesario aplicar bloqueos eléctricos y mecánicos en los sistemas de fondo y superficie, a fin de evitar giros accidentales en el sistema mientras se realizan operaciones tales como instalación, intervención o mantenimiento.
        .row.bg-t2
            .col-md-4.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img12.svg", style="max-width: 100%")
            .col.m-auto
                h3 ¡Importante! 
                p Detenga el Trabajo cada vez que observe un riesgo eléctrico no controlado.
    
    #requisitos
    .header-ecored
        h2 1.3 Requisitos operacionales

    .jumbotron.bg-white
        p Operar en sistemas con motores de imanes permanentes implica trabajar bajo tensión, por lo que se hace necesario cumplir con las reglamentaciones y normativas colombianas que aplican para dichos trabajos. De acuerdo con el RETIE las personas que operen con sistemas energizados deberán cumplir los siguientes requisitos:
        .row.justify-content-center.align-items-center.mt-4
            .col-11
                .list
                    .list__item
                        .list__item__bulletNumber
                            span I
                    .list__txt    
                        p.m-top Capacitación en riesgos eléctricos: la cual tiene como finalidad crear conciencia sobre los riesgos eléctricos en áreas operativas, como realizar un correcto análisis del riesgo, las medidas de mitigación y prevención que se deben considerar y los efectos que tiene la corriente eléctrica en el cuerpo humano.
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span II
                    .list__txt    
                        p.m-top Capacitación en primeros auxilios: con el objetivo de que las personas conozcan los pasos y procedimiento en caso de presentarse una emergencia de tipo eléctrico.
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span III
                    .list__txt    
                        p.m-top Uso de elementos de protección personal: en áreas operativas es obligatorio el uso de estos elementos para protección contra arco y choque eléctrico.
                .list.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span IV
                    .list__txt    
                        p.m-top Cumplimiento de las normas de seguridad por parte de las personas con competencias en el área de la electricidad, deben conocer a cabalidad las normas y aplicar los procedimientos durante las operaciones. Alguna de las normas y procedimientos que se deben cumplir son las siguientes:
                        ul.list-p2
                            li Normas y procedimientos para trabajos con tensión.
                            li Normas y procedimientos para trabajos sin tensión.
                            li Normas y procedimientos para trabajo seguro en el proceso de generación de la electricidad.
                            li Normas y procedimientos para trabajo seguro en el proceso de distribución de la electricidad.
                            li Normas y procedimientos para el trabajo seguro en la utilización final de la electricidad.
        p.text-right.mb-0 #[i Fuente: Ecopetrol. (2016); MASE.]

    #plan
    .header-ecored
        h2 1.4 Plan de trabajo

    .card
        img.card-img-top(src="assets/images/pages/img15.jpg")
        .card-body
            p El trabajo con elementos energizados implica un alto riesgo para las personas, por lo cual es vital cumplir con los lineamientos operacionales tales como:
            ul.list-p1
                li Programa de ejecución de las actividades con sistemas PMM.
                li Procedimiento de ejecución específico para cada actividad.
                li Esquemas y/o diseños de los equipos a intervenir.
                li Herramientas certificadas y en óptimas condiciones para su uso.
                li Permiso de trabajo debidamente diligenciado y aprobado.
                li Certificado de apoyo para trabajo con sistemas eléctricos.
                li Análisis de riesgos realizado en el sitio de trabajo.
    
    #competencias
    .header-ecored
        h2 1.5 Competencias y entrenamiento requerido

    .card
        img.card-img-top(src="assets/images/pages/img14.jpg")
        .card-body
            p.mb-4 Debido a los riesgos eléctricos presentes durante la operación con sistemas de imán permanente es importante que las personas que intervienen o realizan mantenimiento a este tipo de sistemas cuenten con las competencias y entrenamiento requerido.
            ul.list-p1
                li Capacitación en riesgo eléctrico.
                li Capacitación en primeros auxilios.
                li Capacitación en emergencias de tipo eléctrico.
                li Matrícula profesional para trabajos bajo tensión, conforme al artículo 3° de la ley 19 de 1990.
                ul.list-p2
                    li Clase TE1
                    li Clase TE2
                    li Clase TE3
                    li Clase TE4
                    li Clase TE5
                    li Clase TE6



        

    
