.container#riesgos

    .header-ecored
        h1 2. Riesgos asociados a sistemas PMM

    .card
        img.card-img-top(src="assets/images/pages/img13.png")
        .card-body
            p A continuación, se presentan los riesgos asociados al trabajo eléctrico que se realiza con motores de imanes permanentes.
    
            .sub-ecored.mt-5
                h2 2.1 Matriz de clasificación de riesgos del sistema PMM en fondo y superficie

            p.mb-4 Consultar el siguiente documento:
            .row.justify-content-center.my-2
                .col-auto
                    a(href="media/documentos/Anexo1-Matriz_de_riesgos.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Anexo - Matriz de riesgo
    
            .sub-ecored.my-5
                h2 2.2 Diagrama de proceso del permiso de trabajo

            img.img-fluid.img-a(src="assets/images/pages/img13.svg", style="max-width: 100%")