.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Áreas operativas:
            | lugar donde se desarrollan las actividades correspondientes a instalación, mantenimiento o desinstalación de los sistemas PMM.
        
        p
            strong.mr-2 BOP:
            | Blowout Preventer en español preventor de estallido.
        p 
            strong.mr-2  Clasificación de riesgos:
            | los riesgos asociados a sistemas PMM están clasificados de acuerdo con el tipo de actividad a desarrollar.
        p
            strong.mr-2 Empacaduras:
            | son herramientas que emplean elementos elastoméricos flexibles que se expanden para realizar sello al elemento o herramienta externa. 

        p
            strong.mr-2 Equipo electro sumergible:
            | bomba eléctrica instalada en el fondo del pozo que se utiliza en la producción de petróleo, diseñada para generar energía centrífuga y potencial, con el objetivo de transportar el fluido desde el fondo del pozo hasta la superficie.

        p
            strong.mr-2 Fluidos:
            | sustancia que tiene la propiedad de fluir, en un pozo o yacimiento, se caracteriza por el movimiento del fluido a través de los poros y las fracturas de las rocas permeables. 

        p
            strong.mr-2 Métodos de protección:
            | elementos de seguridad industrial que proveen protección contra riesgos específicos como presión, fuego, electricidad y alturas, entre otras.

        p
            strong.mr-2 Riesgo eléctrico:
            | posibilidad de lesión en el cuerpo humano causada por el contacto directo o indirecto con un cuerpo energizado eléctricamente.

        p
            strong.mr-2 Sarta de tubería:
            | tubería de producción utilizada para la instalación en fondo del sistema PMM.

        p
            strong.mr-2 Sistemas de bloqueo:
            | elementos de bloqueo de energías peligrosas como electricidad y presión, restringiendo el paso de energía para la intervención de equipos.

        p
            strong.mr-2 Sistemas energizados:
            | equipos eléctricamente energizados. 

        p
            strong.mr-2 Transferencias de fluido:
            | desplazamiento o conducción de fluido desde un punto del sistema hasta otro punto deseado.

        p
            strong.mr-2 Tuberías de producción:
            | tubería utilizada para la producción de petróleo, agua y/o gas.           